<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cvbuilder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A8A642F91E699C7B00B61E35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8A643101E699C8B00B61E35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8A6431B1E699C8D00B61E35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
